body{
    margin: 0;

}
.navbar{
    background-color: #40394a;
    padding: 5px;
    
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
.navbar a {
    color: #ccffbd;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.slider{
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    
}

.slider-image{
    height: 700px;
    width: 1200px;
    border-radius: 10px;
    z-index: 8;
}

.left-click{
    position: absolute;
    top: 40%;
    left: 32px;
    user-select: none;
    cursor: pointer;
    z-index: 9;
}
.right-click{
    position: absolute;
    top: 40%;
    right: 32px;
    user-select: none;
    cursor: pointer;
    z-index: 9;
}
.slide-change{
    opacity: 1;
    transform: scale(1.08);
    transition-duration: 1s;
}
.const-slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.about{
    /* margin-left: 15%; */
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;
}
.contact{
    margin-top: 5%;
    text-align: center;
}
form{
    display: block;
    margin: auto;
    padding: 1%;
}
.multi-text{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}